/* Social Icons with Hover Effect */
.social-icons img {
  width: 12px; /* Set to a smaller size */
  height: 12px; /* Match the width */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2); /* Slightly enlarge on hover */
}

/* Apply specific hover effects for each icon */
.instagram:hover {
  content: url("assets/social media icons/ig-icon-hover.png");
}

.email:hover {
  content: url("assets/social media icons/email-icon-hover.png");
}

.linkedin:hover {
  content: url("assets/social media icons/li-icon-hover.png");
}

.facebook:hover {
  content: url("assets/social media icons/fb-icon-hover.png");
}

.whatsapp:hover {
  content: url("assets/social media icons/wa-icon-hover.png");
}
